body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4900f8;
    color: white;
    /* text-align: center; */
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* width: 100rem; */
    width: 90%;
    margin-bottom: 50px;
}

#logo {
    flex-grow: 60;
}

#logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    flex-grow: 40;
    /* margin: 0; */
    /* padding: 0; */
    /* margin-left: auto; */
    /* This pushes the ul to the right */
}

header nav ul li {
    display: inline;
    margin: 10px 20px;
}

header nav ul li a {
    padding: 5px 20px;
    /* font-weight: bold; */
    border: 0px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

header nav ul li button {
    background-color: #ff9900;
    border: none;
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    /* font-size: 16px; */
    color: white;
    border-radius: 20px;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight:lighter;
    margin: 0px;
}

h1 {
    /* TTNormsPro-Bold is a paid font. I will use Roboto, a google font that is super similar. See: https: //similarfont.io/2-google-fonts-similar-to-tt-norms-pro */
    font-family: Roboto, sans-serif;
    letter-spacing: 0.025em;
    font-size: 3.75rem;
    line-height: 3rem;
    margin: 15px 0px 75px 0px;
}

article>h1>span {
    display:block;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    letter-spacing: 0.025em;
    /* line-height: 2.8rem; */
    margin: 20px 0px;
}

#hero {
    display: flex;
    justify-content:left;
    align-items: center;
    /* width: 100%; */
    padding: 10px 0px 10px 20px;
}

#hero article {
    width: 35%;
    align-items: end;

}

#featured {
    display: block;
    font-size: 0.5em;
    margin: 20px 0px 5px 0px;
}

#clout_img{
    width: 65%;
    margin-bottom: 15px;
}

#hero aside {
    width:60%;
}

#hero_img {
    position:relative;
    /* height: 20em; */
    left: -100px;
    z-index: -99;
}

#cta_button {
    display: block;
    margin-top: 20px;
    background-color: #ff9900;
    border: none;
    padding: 20px 70px;
    cursor: pointer;
    font-size: 1.25rem;
    line-height:1.3em;
    font-weight:700;
    color: white;
    border-radius: 45px;
    letter-spacing: 1px;
    /* font-size: 1.5rem; */
}

h2 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 9rem;
}

#articles {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#articles article {
    width: 33%;
    margin: 30px;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
}

#articles article img{
    width:100%;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    /* margin: 0px; */
}

.strong {
    font-weight: bold;
}

a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}